<div class="routines mt-2">
  <h4>Routines</h4>
  <ul class="list-group">
    <% @person.routines.each do |routine| %>
      <%= content_tag(:li, class: "list-group-item #{css_test_class(routine.name)}") do %>
        <%= link_to(routine.name, new_completed_routine_path(routine_id: routine.id)) %>
        <%= octicon "chevron-right", class: "h-100 float-right" %>
      <% end %>
    <% end %>
  </ul>
</div>
