<%# This Source Code Form is subject to the terms of the Mozilla Public
License, v. 2.0. If a copy of the MPL was not distributed with this
file, You can obtain one at http://mozilla.org/MPL/2.0/.
Copyright (c) Jade Systems Inc. 2013, 2014
%>

<% content_for :cancel_button do %>
  <%= link_to "Cancel", person_path(@routine.person), class: "btn btn-secondary" %>
<% end %>

<div class="container">
  <div class="content">
    <h1><%= @routine.name || "Routine" %></h1>
    <%= render partial: "form" %>
  </div>
</div>
