<% content_for :cancel_button do %>
  <%= link_to "Cancel", person_path(@routine.person), class: "btn btn-secondary" %>
<% end %>

<div class="container">
  <div class="content">
    <h4><%= @routine.name || "New Routine" %></h4>
    <%= render partial: "form" %>
  </div>
</div>
