<div id="home" class="container">
  <% content_for :content do %>
    <div id="patients">
      <h1>Teams</h1>
      <%= render partial: "teams" %>
    </div>
  <% end %>
  <%= render partial: "with_messages" %>
</div>
