<%# This Source Code Form is subject to the terms of the Mozilla Public
License, v. 2.0. If a copy of the MPL was not distributed with this
file, You can obtain one at http://mozilla.org/MPL/2.0/.
Copyright (c) Jade Systems Inc. 2013, 2014
%>
<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>ID:</strong>
  <%= @user.id %>
</p>
 
<p>
  <strong>Identity Provider:</strong>
  <%= @user.provider %>
</p>
 
<p>
  <strong>Identity Provider ID:</strong>
  <%= @user.uid %>
</p>

