<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>ID:</strong>
  <%= @user.id %>
</p>
 
<p>
  <strong>Identity Provider:</strong>
  <%= @user.provider %>
</p>
 
<p>
  <strong>Identity Provider ID:</strong>
  <%= @user.uid %>
</p>

