<% content_for :cancel_button do %>
  <%= link_to "Cancel", person_path(@completed_routine.person), class: "btn btn-secondary" %>
<% end %>

<div class="container">
  <h4><%= "#{@completed_routine.name} -- #{@completed_routine.person.short_name}" %></h4>
  <%= render partial: "form" %>
</div>

<%# FROM http://xdsoft.net/jqplugins/datetimepicker/ %>
<%#= stylesheet_link_tag("jquery.datetimepicker", media: "all") %>
<%#= javascript_include_tag("jquery.datetimepicker") %>
<!-- <script>
  $('.datetimepicker').datetimepicker({
  step: 15,
  format: 'Y-m-d H:i'
  });

  $('.buttonset').buttonset();
</script> -->
