<%# This Source Code Form is subject to the terms of the Mozilla Public
License, v. 2.0. If a copy of the MPL was not distributed with this
file, You can obtain one at http://mozilla.org/MPL/2.0/.
Copyright (c) Jade Systems Inc. 2013, 2014
%>
<div role="main" class="ui-content">
  <h1>Welcome to Clean Routines</h1>

    <div class="content centre blurb">
      <p>
        A token-reward system to be used as part of a comprehensive behaviour support program.
      </p>
    </div>
    
  <div id='sign_in_with'>
    <%= render partial: "idps", formats: [:html] %>
  </div>
</div>

