<%# The first div is needed so the buttons will be centred in the full site. %>
<div class="row mb-4">
  <div class="col col-sm-4 offset-sm-2 text-center">
    <%= link_to image_tag("White-signin_Long_base_20dp.png", alt: "Google"),
      "/auth/google_oauth2", "data-ajax" => "false", "data-role" => "button", "rel" => "external",
      class: "time_zone" %>
  </div>
  <div class="col col-sm-4 text-center">
    <%= link_to image_tag("sign-in-with-twitter-link.png", alt: "Twitter"),
      "/auth/twitter", "data-ajax" => "false", "data-role" => "button", "rel" => "external",
      class: "time_zone" %>
  </div>
</div>
  <%# Yahoo won't allow anything other than port 80 or 443
  Also, I can't figure out how to modify a project I've already
  set up. Idiots. Yahoos.
<div class="row mb-4">
  <div class="col col-sm-4 offset-sm-2 text-center">
    <%= link_to image_tag("y-open-id-button-1.png", alt: "Yahoo!"),
      "/auth/yahoo", "data-ajax" => "false", "data-role" => "button", "rel" => "external",
      class: "time_zone" %>
  <%#</div>
  <div class="col col-sm-4 text-center">
    <%= link_to image_tag("facebook-unofficial.gif", alt: "Facebook"),
      "/auth/facebook", "data-ajax" => "false", "data-role" => "button", "rel" => "external",
      class: "time_zone" %>
  <%#</div>
</div>
  %>
