<h4 class="bg-dark text-light text-center py-1">Privacy Statement</h2>
<p class="small px-2">
  We make every effort to ensure the privacy of your data.
</p>
<p class="small px-2">
  The data in this system belongs to the subject of the positive behaviour intervention, or their parent or legal guardian. Use of the software consitutes agreement on the part of the owner of the data, to share that data with the other members of the
  subject's team. Membership in the team is under the control of the subject or their parent or legal guardian.
</p>
<p class="small px-2">
  We do not share data with Google, Facebook, Twitter, Yahoo or any other identity provider. The only thing they know is that you've signed in to this application.
</p>
<p class="small px-2">
  Use of this software consitutes your acceptance of these terms.
</p>
