<h2>Terms of Use</h2>
<p>
  This is pre-release software. 
  We take every measure to ensure that our software works.
  However, and particulary in such early stages, it's impossible to test everything.
  Also, you can expect features to change or be added as we respond to your feedback.
  There is absolutely no guarantee that it will work as you want it to. 
  Please do not rely on the functionality or availability of this software,
  especially during these early stages of development.
</p>
<p>
  This software does not give medical advice.
  It is simply a tool that you may choose to use as you see fit.
  How you use this software is your responsibility.
</p>
<p>
  Use of this software consitutes your acceptance of these terms.
</p>
