<%# This Source Code Form is subject to the terms of the Mozilla Public
License, v. 2.0. If a copy of the MPL was not distributed with this
file, You can obtain one at http://mozilla.org/MPL/2.0/.
Copyright (c) Jade Systems Inc. 2013, 2014
%>
<% content_for :javascript do %>
  $(document).ready(function() {
    $('a.time_zone').each(function() {
      this.href = this.href + "?time_zone=" 
        + encodeURIComponent($().get_timezone());
    });
  });
<% end %>
<% content_for :navigation do %>
<% end %>
<div class="container">
  <div id='sign_in'>
    <%= render "content" %>
    <div class="terms"><%= render "terms" %></div>
  </div>
</div>

