<%# This Source Code Form is subject to the terms of the Mozilla Public
License, v. 2.0. If a copy of the MPL was not distributed with this
file, You can obtain one at http://mozilla.org/MPL/2.0/.
Copyright (c) Jade Systems Inc. 2013, 2014
%>
<div class="toolbar">
  <h1 id="pageTitle"></h1>
</div>
<div id="sign_in" title="Sign In" selected="true">
  <h1>Welcome to Positive Behaviour Support</h1>
  <div id='sign_in_with'>
  <h2>Sign in with</h2>
    <ul id='sign-in-with'>
      <li class="idp">
        <%= link_to image_tag("sign-in-with-twitter-link.png", alt: "Twitter"), 
          "/auth/twitter" %>
      </li>
      <li class="idp">
        <%= link_to "Google", 
          "/auth/google_oauth2" %>
      </li>
    </ul>
  </div>
</div>

