<%# This Source Code Form is subject to the terms of the Mozilla Public
License, v. 2.0. If a copy of the MPL was not distributed with this
file, You can obtain one at http://mozilla.org/MPL/2.0/.
Copyright (c) Jade Systems Inc. 2013, 2014
%>
<div id='sign-in'>
  <div id='sign-in-with'>
  Sign in with
    <div id='sign-in-with-twitter'>
      <%= link_to "Twitter", "/auth/twitter" %>
    </div>
  </div>
</div>

