<%# This Source Code Form is subject to the terms of the Mozilla Public
License, v. 2.0. If a copy of the MPL was not distributed with this
file, You can obtain one at http://mozilla.org/MPL/2.0/.
Copyright (c) Jade Systems Inc. 2013, 2014
%>
<div id='sign_in' class="welcome">
  <h1>Welcome to Positive Behaviour Support</h1>
  <div id='sign_in_with'>
  <p>Sign in with</p>
    <div id='sign-in-with'>
      <div class="idp">
        <%= link_to image_tag("sign-in-with-twitter-link.png", alt: "Twitter"), 
          "/auth/twitter", 
          class: "time_zone" %>
      </div>
      <div class="idp"><%= link_to "Google", "/auth/google_oauth2", class: "time_zone" %></div>
    </div>
  </div>
</div>

