<% content_for :javascript do %>
  $(document).ready(function() {
    $('a.time_zone').each(function() {
      this.href = this.href + "?time_zone=" + encodeURIComponent($().get_timezone());
    });
  });
<% end %>
<div class="jumbotron jumbotron-fluid mb-4">
  <div class="container text-center">
    <h1>Welcome to Clean Routines</h1>
    <p class="lead">
      A token-reward system to be used as part of a comprehensive behaviour support program.
    </p>
  </div>
</div>

<div class="container">
  <div id='sign_in_with'>
    <%= render partial: "idps" %>
  </div>
  <%= render "terms" %>
</div>
