<div id="terms" class="asdf-container centre_in_browser" style="width:400px;">
  <div class="content">
    <%= render "terms" %>
    <p><%= link_to "<button type=\"button\">Back</button>".html_safe, :back %></p>
  </div>
</div>
