<%# This Source Code Form is subject to the terms of the Mozilla Public
License, v. 2.0. If a copy of the MPL was not distributed with this
file, You can obtain one at http://mozilla.org/MPL/2.0/.
Copyright (c) Jade Systems Inc. 2013, 2014
%>

<div class="container">
  <h1>Invite</h1>
  <%= bootstrap_form_for(@invitation) do |f| %>
      <%= f.email_field :e_mail,
            label: "E-mail",
            help:
                  "Note: You won't get told if you type the wrong e-mail address. " \
                  "If you don't get a response from the intended recipient of " \
                  "your invitation, contact them through other means and make sure " \
                  "they received your invitation."
             %>
      <%= f.submit "Send Invitation" %>
      <%= link_to "Cancel", :back, class: "btn btn-secondary" %>
  <% end %>
</div>
