$top_menu_h: 30px !default;
$width: 986px !default;

body, p, h1, h2, h3, h4, table, td, th, ul, ol, textarea, input {
  font-family: verdana,helvetica,arial,sans-serif;
  font-size: 14px;
}

* {
  border-style: none;
  border-width: 0;
  margin: 0;
  padding: 0;
}

body {
  background: gray;
}

#top_menu {
  text-align: right;
  padding-top: 0;
  color: white;
  height:  $top_menu_h;
  line-height: $top_menu_h;
  background-color: black; 
  a {
    color: white;
    &:hover {
      opacity:0.6;
      filter:alpha(opacity=60); /* For IE8 and earlier */
    }
  }
}

#message_area {
  @extend .centre_in_browser;
  @extend .normal_content;
}

#content_container {
  @extend .centre_in_browser;
  @extend .normal_content;
}

.centre_in_browser {
  width: $width;
  margin-left: auto;
  margin-right: auto;
}

.normal_content {
  background: white;
}

.ui-state-highlight {
  @extend .centre_in_browser;
  background: #FFFF99;
  min-height: 50px;
  $mw: 5px;
  margin: 0 $mw $mw $mw;
  width: $width - 2 * $mw;
}

.ui-state-error {
  @extend .ui-state-highlight;
  background: #FF9999;
}

@import "users";

