$top-menu-h: 30px !default;
$width: 660px !default;
$sidebar-width: 300px !default;
$font-size: 13px !default;

$horizontal-padding: 15px;
$vertical-padding: 5px;
$border-width: 0px;
$margin: 0;
$content-width: $width - 2 * ($horizontal-padding + $border-width + $margin);

// Colours
$browser-background: rgb(236, 236, 236);
$content-background: white !default;
$menu-background: black !default;
$menu-text-colour: white !default;
$note-background: rgb(255, 255, 204) !default;
$alert-background: rgb(255, 255, 204) !default;
$alert-border-colour: #FFCCCC !default;
$h1-background: rgb(237, 243, 254) !default;
$h1-colour: black !default;
$h2-background: $browser-background !default;
$h2-colour: black !default;
$table-heading-background: $browser-background !default;
$background-odd: $content-background;
$background-even: rgb(250,250,250);
$table-border-colour: $table-heading-background;
$table-heading-border-colour: white;
$link-colour: #6699FF;
$box-shadow: rgb(128, 128, 128) !default;

body, p, h4, table, td, th, ul, ol, textarea, input, button {
  font-family: "Lucida Grande",verdana,helvetica,arial,sans-serif;
}

body {
  // @extend .layout_box;
  background: $browser-background;
}
table { border-collapse: collapse; }

#flash_area {
  // @extend .layout_box;
  @extend .centre_in_browser;
}

#top_menu {
  @extend %menu_common;
  padding-top: 0;
}

#bottom_menu {
  @extend %menu_common;
  margin-top: 20px;
}

%menu_common {
  // @extend .layout_box;
  font-size: $font-size - 2px;
  height:  $top-menu-h;
  line-height: $top-menu-h;
  color: white;
  // background-color: black;
  a {
    color: white;
    &:hover {
      opacity:0.6;
      filter:alpha(opacity=60); /* For IE8 and earlier */
    }
  }
}

.left {float: left;}
.left_inline {float: left; display:inline-block;}
.right {float: right;}
.centre {margin-left: auto; margin-right: auto;}
.clear {clear: both;}

.centre_in_browser {
  // width: $width;
  // @extend .centre;
}

// This takes advantage of the application template setting the controller and view
// for all pages.
.users_home, .users_edit, .people_show, #welcome {
  .centre_in_browser {
    width: $width + $sidebar-width;
    @extend .centre;
  }
}

.asdf-container {
  background: $content-background;
  // box-shadow: 2px 2px 3px $box-shadow;
  @extend .border;
  @extend .border-dark;
  // margin: 10px 0 10px 0;
  @extend .my-1;
}

// Pad the stuff inside the asdf-container for aesthetic reasons.
// This has to be a child of the asdf-container.
.content {
  padding: $vertical-padding $horizontal-padding $vertical-padding $horizontal-padding;
}

// These next two I want to pull in jquery-ui theme, but I don't know if I can.
.flash_notice {
  @extend .centre_in_browser;
  background: $alert-background;
  min-height: 50px;
  $padding: 5px;
  padding: $padding;
  width: $width - 2 * $padding;
  border-color: $alert-border-colour;
  border-style: solid none solid none;
  border-width: 1px 0 1px 0;
}
.flash_alert {
  // @extend .ui-state-highlight;
  background: $alert-background;
}
#error_explanation {
  @extend .flash_alert;

  h2 {
    font-weight: normal;
    background: transparent;
  }

  ul { margin-top: 6px; }
}

.field_with_errors {
  padding: 1px;
  background-color: red;
  display: table;
}

ul.ul_no_decorations li { list-style-type: none; }

//table { width: $content-width; }

th {
  background-color: $table-heading-background;
  font-weight: normal;
  border-style: solid solid none solid;
  border-width: thin thin 0 thin;
  border-color: $table-heading-border-colour;
}
tr {
  border-style: solid;
  border-width: thin 0 thin 0;
  border-color: $table-border-colour;
  vertical-align: middle;
}
.odd_row { background-color: $background-odd; }
.even_row { background-color: $background-even; }

a { color: $link_colour; }

.button_row { text-align:right; }

div#patients {
  ul { margin: 0; padding-left: 0; }
  li { list-style-type: none; margin: 2px 0 2px 0; }
}

.vertical_align_children * { vertical-align: middle; }
