$top-menu-h: 30px !default;
$width: 668px !default;
$font-size: 13px !default;

// Colours
$browser-background: rgb(236, 236, 236);
$content-background: white !default;
$menu-background: black !default;
$menu-text-colour: white !default;
$note-background: rgb(255, 255, 204) !default;
$alert-background: rgb(255, 255, 204) !default;
$alert-border-colour: rgb(255, 153, 0) !default;
$h1-background: rgb(237, 243, 254) !default;
$h1-colour: black !default;
$h2-background: $browser-background !default;
$h2-colour: black !default;
$table-heading-background: $browser-background !default;
$table-background-odd: $table-heading-background;
$table-background-even: $content-background;
$table-border-colour: $table-heading-background;
$table-heading-border-colour: white;
$link-colour: #6699FF;
$box-shadow: rgb(128, 128, 128) !default;

body, p, h4, table, td, th, ul, ol, textarea, input, button {
  font-size: $font-size;
}
h1 { font-size: $font-size + 3px; }
h2 { font-size: $font-size + 2px; }
h3 { font-size: $font-size + 1px; }
body { font-family: "Lucida Grande",verdana,helvetica,arial,sans-serif; }

.layout_box {
  border-style: none;
  border-width: 0;
  margin: 0;
  padding: 0;
}

body {
  @extend .layout_box;
  background: $browser-background;
}
table { border-collapse: collapse; } 

#message_area {
  @extend .layout_box;
  @extend .centre_in_browser;
}

// This is in the application template. It centres its descendants in the browser window.
#content_container {
  @extend .layout_box;
  @extend .centre_in_browser;
//  padding-top: .1px; // This seems to make the container bump up against the menu bar.
}
  
#top_menu {
  @extend .layout_box;
  font-size: $font-size - 2px;
  text-align: right;
  padding-top: 0;
  color: white;
  height:  $top-menu-h;
  line-height: $top-menu-h;
  background-color: black; 
  a {
    color: white;
    &:hover {
      opacity:0.6;
      filter:alpha(opacity=60); /* For IE8 and earlier */
    }
  }
}

.centre_in_browser {
  width: $width;
  margin-left: auto;
  margin-right: auto;
}

// Put a drop shadow on an area.
// This has to be a a parent of the block with the .content.
.container {
  background: $content-background;
  box-shadow: 2px 2px 3px $box-shadow;
}

.ui-state-highlight {
  @extend .centre_in_browser;
  background: $alert-background;
  min-height: 50px;
  $padding: 5px;
  padding: $padding;
  width: $width - 2 * $padding;
  border-color: $alert-border-colour;
  border-style: solid none solid none;
  border-width: 1px 0 1px 0;
}

.ui-state-error {
  @extend .ui-state-highlight;
  background: $alert-background; // FIXME Change this to another colour, more red.
}

#home, #completed_routine, #new_award, #completed_routines, #routine, #user {
  $horizontal-padding: 15px;
  $vertical-padding: 5px;
  $border-width: 0px;
  $margin: 0;
  $content-width: $width - 2 * ($horizontal-padding + $border-width + $margin);

  margin: 10px 0 10px 0;
  
  h1, h2 {
    padding: 2px;
    margin: 10px 0 0 0;
  }
  h1 {
    background: $h1-background;
    color: $h1-colour;
  }
  h2 {
    background: $h2-background;
    color: $h2-colour;
  }

  .pending_rewards { @extend .routines; }
  .completed_routines { @extend .routines; }
  // Pad the stuff inside the container for aesthetic reasons.
  // This has to be a child of the container. 
  .content {
    width: $content-width;
    padding: $vertical-padding $horizontal-padding $vertical-padding $horizontal-padding;
  //  box-shadow: 5px 5px 5px  black;
  //  border: solid $border-width;
  }

  table { width: $content-width; }
  
  th {
    background-color: $table-heading-background;
    font-weight: normal;
    border-style: solid solid none solid;
    border-width: thin thin 0 thin;
    border-color: $table-heading-border-colour;
  }
  tr {
    border-style: solid;
    border-width: thin 0 thin 0;
    border-color: $table-border-colour;
    // TODO Vertical centre text
  }
  .odd_row { background-color: $table-background-odd; }
  .even_row { background-color: $table-background-even; }
  
  a { color: $link_colour; }

  // From http://stackoverflow.com/questions/1030793/input-with-displayblock-is-not-a-block-why-not
  .grow_child_to_parent {
    display: block; 
    width: 100%;
	  box-sizing: border-box; /* css3 rec */
	  -moz-box-sizing: border-box; /* ff2 */
	  -ms-box-sizing: border-box; /* ie8 */
	  -webkit-box-sizing: border-box; /* safari3 */
	  -khtml-box-sizing: border-box; /* konqueror */
  }
  /* TODO I would have to download and include the file boxsizing.htc into my app.
    Already doing lots that isn't supported by IE6 and IE7.
  //<!-- The voodoo gets scary. Force IE6 and IE7 to support IE5's box model -->
  //<!--[if lt IE 8]><style>.bb {behavior:url("boxsizing.htc");}</style><![endif]-->
  */
}

@import "welcome";
@import "awards";
