<%# This Source Code Form is subject to the terms of the Mozilla Public
License, v. 2.0. If a copy of the MPL was not distributed with this
file, You can obtain one at http://mozilla.org/MPL/2.0/.
Copyright (c) Jade Systems Inc. 2013, 2014
%>
  <div class="bg-dark text-light fixed-bottom d-flex">
    <div class="container d-flex">
      <ul class="nav ml-auto">
        <li class="nav-item">
          <%= link_to "Privacy", welcome_privacy_path, class: "nav-link text-light" %>
        </li>
        <li class="nav-item">
          <%= link_to "Terms", welcome_terms_path, class: "nav-link text-light" %>
        </li>
      </ul>
    </div>
  </div>
