<%# This Source Code Form is subject to the terms of the Mozilla Public
License, v. 2.0. If a copy of the MPL was not distributed with this
file, You can obtain one at http://mozilla.org/MPL/2.0/.
Copyright (c) Jade Systems Inc. 2013, 2014
%>
<% unless flash.empty? && object.errors.empty? %>
  <div id="flash_area">
    <% flash.each do |name, msg| %>
      <% if msg.is_a?(String) %>
        <%= content_tag :div, msg.html_safe, class: "flash_#{name}" %>
      <% end %>
    <% end %>

    <% if object.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(object.errors.count, "error") %> 
          prevented this 
          <%= object.class.name.underscore.humanize.downcase %> 
          from being saved:</h2>
        <ul>
          <% object.errors.full_messages.each do |msg| %>
            <li><%= msg %>.</li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
<% end %>

