<%# This Source Code Form is subject to the terms of the Mozilla Public
License, v. 2.0. If a copy of the MPL was not distributed with this
file, You can obtain one at http://mozilla.org/MPL/2.0/.
Copyright (c) Jade Systems Inc. 2013, 2014
%>
<% unless flash.empty? %>
  <div id="flash_area">
    <% flash.each do |name, msg| %>
      <% if msg.is_a?(String) %>
        <%= content_tag :div, msg, class: "flash_#{name}" %>
      <% end %>
    <% end %>

    <% if notice %>
      <p class="ui-state-highlight"><%= notice.html_safe %></p>
    <% end %>
    <% if alert %>
      <p class="ui-state-error"><%= alert.html_safe %></p>
    <% end %>
  </div>
<% end %>

