<%# This Source Code Form is subject to the terms of the Mozilla Public
License, v. 2.0. If a copy of the MPL was not distributed with this
file, You can obtain one at http://mozilla.org/MPL/2.0/.
Copyright (c) Jade Systems Inc. 2013, 2014
%>
<div id="settings" title="Settings" data-role="page">
  <div  data-role="header">
    <%= link_to "", :back, data: {role: :button, rel: :back, icon: :back, iconpos: :notext} %>
    <h1>Settings</h1>
  </div>

  <ul data-role="listview">
    <li><%= link_to "Sign out", signout_path, data: { ajax: false } %></li>
    <li><%= link_to "Full Site", root_url(:mobile => 0), data: { ajax: false } %></li>
  </ul>
</div>

